Repository TU-robolab/recyclebot: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, vision-tests

.pre-commit-config.yaml:

# Pre-commit hooks for RecycleBot
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Docker compose validation
      - id: docker-compose-check
        name: Validate Docker Compose Configuration
        entry: bash -c 'bash export_env.sh && docker compose --env-file .env -f docker-compose.base.yml -f docker-compose.dev.yml config --quiet'
        language: system
        files: ^(docker-compose.*\.yml|export_env\.sh)$
        pass_filenames: false
        stages: [pre-commit]
        verbose: true

      # Vision tests - run when vision-related files change
      - id: vision-tests
        name: Vision Workflow Tests
        entry: bash -c 'docker exec recyclebot-mac-1 /ros_entrypoint.sh bash -c "cd ~/ros2_ws/src/test_suite && bash scripts/run_vision_test.sh" || docker exec recyclebot-dev-1 /ros_entrypoint.sh bash -c "cd ~/ros2_ws/src/test_suite && bash scripts/run_vision_test.sh"'
        language: system
        files: ^(packages/recycle_bot/recycle_bot/rec_bot_vision\.py|test_suite/(test|scripts)/.*)$
        pass_filenames: false
        stages: [pre-push]
        verbose: true

  # Basic validation hooks (no formatting)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-ast
        stages: [pre-commit]
        types: [python]
      - id: check-added-large-files
        args: ['--maxkb=102400']  # 100MB limit (allows YOLO models)
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]

feat: Add xdg-open to container
  apt-base-packages
Due: none

fix: correct package for xdg
  apt-base-packages
Due: none

fix(control): convert sorting_sequence.yaml positions to meters
  packages/recycle_bot/recycle_bot/sorting_sequence.yaml
Due: none

fix(tf): correct TF frame mismatch between vision and control
  packages/recycle_bot/recycle_bot/calibration.yaml
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/rec_bot_core.py
  packages/recycle_bot/recycle_bot/rec_bot_smoke.py
Due: none

fix(control): correct timestamp type in create_pose method
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

fix(control): prevent queueing tasks with None place pose
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

fix(control): use MultiThreadedExecutor to prevent callback starvation
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

fix(control): remove unused print_current_status method
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

fix(control): respect cycle parameter from YAML config
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

Update compose for dockerfile setup
  docker-compose.dev.yml
Due: docker-compose-check

fix(launch): set explicit camera resolution and framerate profiles
  packages/recycle_bot/launch/rec_bot.launch.py
  test_suite/launch/test_vision_real_camera.launch.py
Due: none

test for vision script
  test_suite/test/test_vision_workflow.py
Due: vision-tests

feat(vision): improve depth visualization and add bbox drawing
  packages/recycle_bot/recycle_bot/rec_bot_vision.py
  test_suite/launch/test_vision_real_camera.launch.py
  test_suite/test/test_vision_workflow.py
Due: vision-tests

fix(control): use tf buffer transform and parse yaml poses
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

fix(control): avoid blocking executor during gripper calls
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

feat(control): add approach height for pick/place
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/sorting_sequence.yaml
Due: none

feat(control): attach grasped object for planning
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/sorting_sequence.yaml
Due: none

fix(control): load sorting config from share dir
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

chore(vision): lower detection confidence threshold to 0.8
  packages/recycle_bot/recycle_bot/calibration.yaml
Due: none

chore(test): reduce fake RGBD publish rate to 6 fps
  test_suite/scripts/fake_rgbd_publisher.py
  test_suite/test_suite/fake_rgbd_publisher.py
Due: vision-tests

test: add end-to-end robot motion test and docs
  README.md
  test_suite/README.md
  test_suite/launch/test_control_robot_motion.launch.py
  test_suite/package.xml
  test_suite/test/test_control_robot_motion.py
Due: vision-tests
