Repository TU-robolab/recyclebot: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, vision-tests

docker-compose-check:
  name: Validate Docker Compose Configuration
  entry: bash -c 'bash export_env.sh && docker compose --env-file .env -f docker-compose.base.yml -f docker-compose.dev.yml config --quiet'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

vision-tests:
  name: Vision Workflow Tests
  entry: bash -c 'docker exec recyclebot-mac-1 /ros_entrypoint.sh bash -c "cd ~/ros2_ws/src/test_suite && bash scripts/run_vision_test.sh" || docker exec recyclebot-dev-1 /ros_entrypoint.sh bash -c "cd ~/ros2_ws/src/test_suite && bash scripts/run_vision_test.sh"'
  ...

fix(control): adjust pick height offset to prevent object squishing and update kinematics timeout for improved performance
  packages/recycle_bot/config/sorting_sequence.yaml
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/ur16e_moveit_config/config/kinematics.yaml
Due: none

feat(control): keep grasped object level during carry with constrained OMPL
  packages/recycle_bot/config/sorting_sequence.yaml
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/ur16e_moveit_config/config/kinematics.yaml
  packages/ur16e_moveit_config/config/moveit_cpp.yaml
Due: none

fix(gripper): implement robust gripper activation with confirmation loop
  packages/grip_command_package/grip_command_package/gripper_node.py
  packages/recycle_bot/config/sorting_sequence.yaml
Due: none

Update maintainer/licence in README.md
  README.md
Due: none

Enhance gripper feedback and adjust vision parameters
  packages/recycle_bot/launch/rec_bot_2.launch.py
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  rec_bot_runtime_topology.svg
Due: none

Refactor recycle_bot core and vision modules; enhance detection handling and remove fake publishers
  .github/workflows/vision-tests.yml
  packages/grip_command_package/grip_command_package/gripper_node.py
  packages/recycle_bot/config/sorting_sequence.yaml
  packages/recycle_bot/launch/rec_bot.launch.py
  packages/recycle_bot/launch/rec_bot_2.launch.py
  packages/recycle_bot/launch/rec_bot_fake.launch.py
  packages/recycle_bot/launch/rec_bot_smoke.launch.py
  packages/recycle_bot/launch/rec_bot_smoke_fake.launch.py
  packages/recycle_bot/package.xml
  packages/recycle_bot/recycle_bot/launch_gate.py
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/rec_bot_core.py
  packages/recycle_bot/recycle_bot/rec_bot_vision.py
  packages/recycle_bot/recycle_bot/rec_bot_viz.py
  test_suite/scripts/fake_joint_state_publisher.py
  test_suite/scripts/fake_rgbd_publisher.py
  test_suite/scripts/run_vision_test.sh
  test_suite/test_suite/mock_gripper_service.py
Due: vision-tests

feat(config): increase minimum detection confidence to reduce false positives
  packages/recycle_bot/config/calibration.yaml
  packages/recycle_bot/config/sorting_sequence.yaml
  packages/recycle_bot/launch/rec_bot_2.launch.py
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/rec_bot_core.py
  packages/recycle_bot/recycle_bot/rec_bot_vision.py
Due: vision-tests

feat(ur3e): add check_calibration to verify a teach-pendant export
  README.md
  packages/recycle_bot/recycle_bot/calibration_check.py
  packages/recycle_bot/setup.py
  test_suite/test/test_robot_profiles.py
Due: vision-tests

fix(deps): break recycle_bot <-> moveit_config cycle; add ur3e calibration
  packages/recycle_bot/config/ur3e/my_robot_calibration.yaml
  packages/recycle_bot_moveit_config/package.xml
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(safety): verify the connected robot matches ur_type before driving it
  README.md
  docker-compose.base.yml
  export_env.sh
  packages/recycle_bot/launch/rec_bot.launch.py
  packages/recycle_bot/launch/rec_bot_2.launch.py
  packages/recycle_bot/launch/rec_bot_smoke.launch.py
  packages/recycle_bot/recycle_bot/robot_identity.py
  packages/recycle_bot/recycle_bot/robot_profile.py
  packages/recycle_bot/setup.py
  test_suite/test/test_robot_profiles.py
Due: docker-compose-check, vision-tests

fix(moveit): restore .setup_assistant 'package' key broken by per-arm config move
  packages/recycle_bot_moveit_config/.setup_assistant
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(rviz): give the full-system launches an actual RViz layout
  packages/recycle_bot/config/rec_bot.rviz
  packages/recycle_bot/launch/rec_bot.launch.py
  packages/recycle_bot/launch/rec_bot_2.launch.py
Due: none

feat(measure): read live TCP pose, and compute tool0 the controller cannot
  packages/recycle_bot/recycle_bot/kinematics.py
  packages/recycle_bot/recycle_bot/read_tcp.py
  packages/recycle_bot/setup.py
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(ur3e-cell): replace placeholder cell geometry with measured values
  packages/recycle_bot/config/ur3e/calibration.yaml
  packages/recycle_bot/config/ur3e/cell.yaml
Due: none

fix(reach): measure reach from the shoulder, against real URDF geometry
  packages/recycle_bot/config/ur3e/cell.yaml
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/robot_profile.py
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(ur3e-cell): enclose the camera support arm; confirm post is vertical
  packages/recycle_bot/config/ur3e/cell.yaml
Due: none

test: verify the 150 mm tool offset against a physical surface
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(ur3e-cell): teach all poses on the real cell
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
  packages/recycle_bot/recycle_bot/kinematics.py
Due: none

fix(ur3e): start the mock robot at the taught neutral pose
  packages/recycle_bot_moveit_config/config/ur3e/initial_positions.yaml
Due: none

feat(reach): reject detections inside the arm's inner dead zone
  packages/recycle_bot/config/ur16e/sorting_sequence.yaml
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(docker): bind-mount a logs directory so run logs are readable on the host
  .gitignore
  README.md
  docker-compose.dev.yml
  docker-compose.mac.yml
  logs/.gitkeep
Due: docker-compose-check

fix(ur3e): scale Pilz Cartesian limits to the smaller arm
  packages/recycle_bot_moveit_config/config/ur3e/pilz_cartesian_limits.yaml
  test_suite/test/test_robot_profiles.py
Due: vision-tests

fix(place): try the taught orientation, and pick a candidate that can descend
  packages/recycle_bot/recycle_bot/rec_bot_control.py
Due: none

feat(vision): switch to Minimuell.pt and rewrite routing for its classes
  packages/recycle_bot/config/ur16e/sorting_sequence.yaml
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
  packages/recycle_bot/pkg_resources/Minimuell.pt
  packages/recycle_bot/recycle_bot/rec_bot_vision.py
  test_suite/test/test_robot_profiles.py
Due: vision-tests

feat(vision): add offline model tester for checking detections without hardware
  README.md
  packages/recycle_bot/recycle_bot/test_model.py
  packages/recycle_bot/setup.py
Due: none

feat(env): grant X display access from export_env.sh
  README.md
  export_env.sh
Due: docker-compose-check

fix(gripper): explain why the serial bridge never subscribes
  README.md
  packages/grip_command_package/grip_command_package/gripper_node.py
Due: none

feat(moveit): model the E-Pick gripper for collision on both arms
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot_moveit_config/config/ur16e/ur16e.srdf
  packages/recycle_bot_moveit_config/config/ur16e/ur16e.urdf.xacro
  packages/recycle_bot_moveit_config/config/ur3e/ur3e.srdf
  packages/recycle_bot_moveit_config/config/ur3e/ur3e.urdf.xacro
  test_suite/test/test_robot_profiles.py
Due: vision-tests

fix(ur3e-cell): re-measure the camera, which sat 14 cm further out than modelled
  packages/recycle_bot/config/ur3e/calibration.yaml
  packages/recycle_bot/config/ur3e/cell.yaml
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
Due: none

feat(ur3e-cell): re-teach the moved bins and lower min_confidence to 0.50
  packages/recycle_bot/config/ur3e/calibration.yaml
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
Due: none

feat(vision): switch to the 2026-09-11 Minimuell retrain, adding 'unbekannt'
  packages/recycle_bot/config/ur16e/sorting_sequence.yaml
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
  packages/recycle_bot/pkg_resources/Minimuell.pt
Due: none

Add start script for RecycleBot and dashboard tests
  README.md
  packages/recycle_bot/launch/rec_bot.launch.py
  packages/recycle_bot/launch/rec_bot_vision_only.launch.py
  packages/recycle_bot/package.xml
  packages/recycle_bot/recycle_bot/dashboard.py
  packages/recycle_bot/setup.py
  packages/recycle_bot/web/icon.svg
  packages/recycle_bot/web/index.html
  start_recyclebot.sh
  test_suite/test/test_dashboard.py
Due: vision-tests

feat: Implement fallback pick functionality for height measurement
  .github/workflows/vision-tests.yml
  README.md
  packages/recycle_bot/config/ur16e/sorting_sequence.yaml
  packages/recycle_bot/config/ur3e/sorting_sequence.yaml
  packages/recycle_bot/launch/rec_bot.launch.py
  packages/recycle_bot/recycle_bot/dashboard.py
  packages/recycle_bot/recycle_bot/fallback_pick.py
  packages/recycle_bot/recycle_bot/rec_bot_control.py
  packages/recycle_bot/recycle_bot/rec_bot_core.py
  packages/recycle_bot/web/index.html
  packages/recycle_bot_moveit_config/config/moveit_cpp.yaml
  test_suite/test/test_dashboard.py
  test_suite/test/test_fallback_pick.py
  test_suite/test/test_robot_profiles.py
Due: vision-tests

Path conditions:
  docker-compose-check: any of: ^(docker-compose.*\.yml|export_env\.sh)$
  vision-tests: any of: ^(packages/recycle_bot/recycle_bot/rec_bot_vision\.py|test_suite/(test|scripts)/.*)$
